<div class="job text-center pull-left">
  <h2><%= job.title %></h2>
  <p>Company: <%= link_to job.company.name, job.company %></p>
  <p>Category: <%= link_to job.category.name, job.category %></p>
  <p>Location: <%= job.location %></p>
  <p>Description: <br /><%= job.description %></p>
  <p><%= link_to "See more", job, class: 'btn btn-primary' %></p>
</div>
