<div class="job">
  <p><%= job.title %></p>
  <p><%= job.location %></p>
  <p><%= job.description %></p>
  <p><%= job.company.name %></p>
  <p><%= job.category.name %></p>
  <p><%= link_to "See more", job %></p>
</div>
